/* GOV Custom CSS for KM system prototype with GOV styling and bootstrap */

/* Display labels in white text */
label {
  color: #FFFFFF;
}

body {
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 15px;
  padding-right: 15px;
}

#pg-header {
  height: 75px;
  background-color: #000000;
}

.panel-success > .panel-heading {
    background-color: #DEE0E2;
    border-color: #DEE0E2;
    color: #000000;
}
