/* LR Custom CSS for KM system prototype with LR styling and bootstrap */

body {
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Standard panel */
.fixed-panel {
  min-height: 200px;
  max-height: 200px;
  overflow-y: scroll;
}

.refine-panel {
  min-height: 400px;
  max-height: 400px;
  overflow-y: scroll;
}

/*form input#searchString*/
form input#search
{
  width: 300px;
  height: 37px;
  font-size:14pt;
}

form input#submit
{
  height: 37px;
}

#header-input-group {
  padding-right: 70px;
  padding-top: 15px;
}

label {
  color: #000000;
}

.btn-file {
position: relative;
overflow: hidden;
}
.btn-file input[type=file] {
position: absolute;
top: 0;
right: 0;
min-width: 100%;
min-height: 100%;
font-size: 100px;
text-align: right;
filter: alpha(opacity=0);
opacity: 0;
outline: none;
background: white;
cursor: inherit;
display: block;
}

.onwards_aside a:hover {
         position:right;
         left:0;
  }


.onwards_aside a[tooltip]:hover:after {
        content: attr(tooltip);
        color: black;
        background-color: #f7f7f7;
        border:1px;
        position: absolute;
        right:0;
        margin-right: 100%;
        border-radius: 10px;
        border: thin solid black;
        padding: 5px 5px 5px 5px;
        width:200%;
        z-index=9999;

}
