/* LR Custom CSS for KM system prototype with LR styling and bootstrap */

/* Display labels in white text */
label {
  color: #FFFFFF;
}

body {
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 15px;
  padding-right: 15px;
}

#pg-header {
  height: 75px;
  background-color: green;
}

/* Standard panel */
.fixed-panel {
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll;
}

form input#searchString
{
  width: 300px;
  height: 37px;
}

form input#submit
{
  height: 37px;
  background-color: #6AC36A;
}
