{% extends "bootstrap/base.html" %}

{% block title %}Knowledge Managment{% endblock %}

{% block styles %}
{{super()}}
<link rel="shortcut icon" href="static/images/logo.png" type="image/x-icon">
<link rel="stylesheet" href="{{url_for('.static', filename='land-custom.css')}}">
{% endblock %}

{% block navbar %}
<!-- Header navbar construct -->
<div class="navbar navbar-default navbar-fixed-top">
  <div id="pg-header">
    <div class="row>">
      <div class="col-md-12">
        <label><h3>Casework Guidance Knowledge Base</h3></label>
      </div>
    </div>
  </div>
</div>
<!-- And the footer -->
<div class="navbar navbar-default navbar-fixed-bottom">
  <div id="pg-footer">
    <div class="container-fluid">
        <p class="navbar-text pull-left">&copy Land Registry 2015</p>
        <p class="navbar-text pull-right"><a href="http://www.w3schools.com" class="navbar-link">Contact Us</a></p>
    </div>
  </div>
</div>
{% endblock %}


<div id="main-content" class="container-fluid">
{% block content %}
<!-- Put content here -->
{% endblock %}
</div>


<!-- Uncomment and complete if we need to use custom Javascript
{% block scripts %}
{{super()}}
{% endblock %}
-->
