<!-- extend from base layout -->
{% extends "lr-base.html" %}

{% block content %}

  <!-- Set vertical position -->
  <div class="row"><div class="col-md-12"><p> </p></div></div>
  <div class="row"><div class="col-md-12"><p> </p></div></div>
  <div class="row"><div class="col-md-12"><p> </p></div></div>
  <div class="row"><div class="col-md-12"><p> </p></div></div>
  <div class="row"><div class="col-md-12"><p> </p></div></div>
  <div class="row"><div class="col-md-12"><p> </p></div></div>
  <div class="row"><div class="col-md-12"><p> </p></div></div>
  <div class="row"><div class="col-md-12"><p> </p></div></div>
  <div class="row"><div class="col-md-12"><p> </p></div></div>
  <div class="row"><div class="col-md-12"><p> </p></div></div>
  <div class="row"><div class="col-md-12"><p> </p></div></div>
  <div class="row"><div class="col-md-12"><p> </p></div></div>
  <div class="row"><div class="col-md-12"><p> </p></div></div>
  <div class="row"><div class="col-md-12"><p> </p></div></div>
  <div class="row"><div class="col-md-12"><p> </p></div></div>
  <div class="row"><div class="col-md-12"><p> </p></div></div>
  <!--  -->

  <div class="row">
    <div class="center-block" style="width:350px;">
      <h1>Search Guidance</h1>
    </div>
  </div>
  <div class="row">
    <div class="center-block" style="width:400px;">
      <form method="POST" action="/search-result">
        {{form.searchString}}
        {{form.submit}}
      </form>
    </div>
  </div>

{% endblock %}
