{% extends "lr-base-search.html" %}

{% block content %}
<div class="row">
  <div class="col-md-9">
    {{searchElements|safe}}
  </div>
  <div class="col-md-3"> <!-- Rightmost column content -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Related Articles</h3>
      </div>
      <div class="panel-body fixed-panel">
        {% for related_articles in related_list %}
        <p><a id="related_article_id_{{related_articles.itemid}}" href="/lr-page/{{related_articles.itemid}}" data-toggle="tooltip" title="{{related_articles.scope}}">{{related_articles.title}}</a></p>
        {% endfor %}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">External Links</h3>
      </div>
      <div class="panel-body fixed-panel">
          {% for external_links in external_list %}
          <p><a id="{{external_links.title}}" href="{{external_links.link}}" title="{{external_links.title}}">{{external_links.title}}</a></p>
          {% endfor %}
      </div>
    </div>
  </div> <!-- End Rightmost column content -->
</div> <!-- Row -->
{% endblock %}
