{% extends "lr-base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-9">
    {{searchElements|safe}}
  </div>
  <div class="col-md-3">
  <!-- Rightmost column content -->
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Related Articles</h3>
      </div>
      <div class="panel-body" style="min-height: 300px; max-height: 300px;overflow-y: scroll;">
        <p><a href="/lr-page/3">Transfer Principle</a></p>
        <p><a href="/lr-page/4">Commonhold</a></p>
        <p><a href="/lr-page/7">Owner Occupier</a></p>
        <p><a href="/lr-page/3">Transfer Principle</a></p>
        <p><a href="/lr-page/4">Commonhold</a></p>
        <p><a href="/lr-page/7">Owner Occupier</a></p>
        <p><a href="/lr-page/3">Transfer Principle</a></p>
        <p><a href="/lr-page/4">Commonhold</a></p>
        <p><a href="/lr-page/7">Owner Occupier</a></p>
        <p><a href="/lr-page/3">Transfer Principle</a></p>
        <p><a href="/lr-page/4">Commonhold</a></p>
        <p><a href="/lr-page/7">Owner Occupier</a></p>
        <p><a href="/lr-page/3">Transfer Principle</a></p>
        <p><a href="/lr-page/4">Commonhold</a></p>
        <p><a href="/lr-page/7">Owner Occupier</a></p>
      </div>
    </div>
  </div> <!-- RIGHT Column -->
</div>
{% endblock %}
